{% extends 'todoapp/base.html' %}

{% block content %}
<style type="text/css">
  .todo_item {
    transition: all 200ms;
    margin-bottom:10px;
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .todo_item:hover {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }
  input[type="text"]:focus {
    border-bottom: 0.5px solid black !important;
    box-shadow: none !important;
  }
  /* input[type="text"]:focus + label {
    color:black !important;
  } */
  
  .flex_row {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  
  .todo_item .btn-floating {
    margin-left:10px;
  }
  
  .completed {
    color:grey;
    text-decoration:line-through;
  }
  
  .title_div {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  
</style>
<div class="title_div">
  <h3>Todo Items</h3>
  <div>
    <a href="{% url 'todoapp:clear_all' %}" class="btn light-blue lighten-2"><i class="material-icons">clear_all</i></a>
    <a href="{% url 'todoapp:new' %}" class="btn light-blue lighten-2"><i class="material-icons">add</i></a>
  </div>
</div>


<!-- TODO ITEMS -->
{% for todo_item in todo_items %}
<div class="todo_item tooltipped" data-position="top" data-tooltip="Created: {{ todo_item.date_created }}{% if todo_item.date_completed %}<br/>Completed: {{todo_item.date_completed}}{% endif %}">
  <div class="{% if todo_item.date_completed %}completed{% endif %}">{{todo_item.text}}</div>
  <div class="flex_row">
    {% for type in todo_item.ordered_types %}
    <span class="tooltipped" data-position="top" data-tooltip="{{type.name}}">{{ type.emoji }}</span>
    {% endfor %}
    <a href="{% url 'todoapp:clear_tags' %}?todo_item_id={{todo_item.id}}" class="btn btn-floating light-blue lighten-2 tooltipped" data-position="top" data-tooltip="clear tags"><i class="material-icons">content_cut</i></a> 
    {% if not todo_item.date_completed %}
    <a href="{% url 'todoapp:edit' todo_item.id %}" class="btn-floating light-blue lighten-2 tooltipped" data-position="top" data-tooltip="edit"><i class="material-icons">edit</i></a>
    <form action="{% url 'todoapp:complete_todo' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="todo_item_id" value="{{todo_item.id}}"/>
      <button class="btn-floating light-blue lighten-2 tooltipped" data-position="top" data-tooltip="complete"><i class="material-icons">check</i></button>
    </form>
    {% else %}
    <a href="{% url 'todoapp:clear_todo' todo_item.id %}" class="btn-floating light-blue lighten-2 tooltipped" data-position="top" data-tooltip="clear"><i class="material-icons">close</i></a> 
    {% endif %}
  </div>
</div>
{% endfor %}

<!-- JAVASCRIPT -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    let elems_tooltips = document.querySelectorAll('.tooltipped')
    let instances_tooltips = M.Tooltip.init(elems_tooltips, {
      enterDelay: 1000
    })
  });
</script>
{% endblock %}