{% extends 'todoapp/base.html' %}

{% block content %}
<style type="text/css">
  .todo_item {
    transition: all 200ms;
    margin-bottom:10px;
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .todo_item:hover {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }
  input[type="text"]:focus {
    border-bottom: 0.5px solid black !important;
    box-shadow: none !important;
  }
  /* input[type="text"]:focus + label {
    color:black !important;
  } */
  
  .flex_row {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  
  .todo_item .btn {
    margin-left:10px;
  }
  
  .completed {
    color:grey;
    text-decoration:line-through;
  }

  
  #top-btns {
    display: flex;
    flex-direction: row;
  }

</style>
<h3>Todo Items</h3>
<div id="top-btns">
  <form action="{% url 'todoapp:clear_all' %}" method="post">
      {% csrf_token %}
      <button class="btn btn-floating red tooltipped" data-position="top" data-tooltip="clear all completed items"><i class="material-icons">delete</i></button>
  </form>
  <a href="/todoapp/save/" class="btn btn-floating light-blue">add</a>
</div>

<!-- FORM -->


<!-- TODO ITEMS -->
<ul class="collapsible">
  {% for todo_item in todo_items %}
  <li>
    <div class="collapsible-header todo_item">
      <div class="{% if todo_item.date_completed %}completed{% endif %}">{{todo_item.text}}</div>
      <i class="material-icons tooltipped" data-position="top" data-tooltip="Created: {{todo_item.date_created}} {% if todo_item.date_completed %} Completed: {{todo_item.date_completed}}{% else %}not completed{% endif %}">alarm</i>
      <!-- <div>
        {{todo_item.date_created}}
        {% if todo_item.date_completed %}{{todo_item.date_completed}}
        {% else %}not completed{% endif %}
      </div> -->
      <div class="flex_row">
        {% for type in todo_item.ordered_types %}
        <span class="tooltipped" data-position="top" data-tooltip="{{type.name}}">{{ type.emoji }}</span>
        {% endfor %}
        {% if not todo_item.date_completed %}
        <form action="{% url 'todoapp:complete_todo' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="todo_item_id" value="{{todo_item.id}}"/>
          <button class="btn btn-floating light-blue lighten-2 tooltipped" data-position="top" data-tooltip="complete"><i class="material-icons">check</i></button>
        </form>
        <a href="/todoapp/edit/{{todo_item.id}}/" class="btn btn-floating green">edit</a>
        {% endif %}
        {% if todo_item.date_completed %}
        <form action="{% url 'todoapp:clear_todo' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="todo_item_id" value="{{todo_item.id}}"/>
          <button class="btn btn-floating red lighten-2 tooltipped" data-position="top" data-tooltip="clear"><i class="material-icons">delete_outline</i></button>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="collapsible-body"><span>{{todo_item.extra_text}}</span></div>
  </li>
  {% endfor %}
</ul>

<!-- JAVASCRIPT -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    let elems_tooltips = document.querySelectorAll('.tooltipped')
    let instances_tooltips = M.Tooltip.init(elems_tooltips, {})
    
    let elems_selects = document.querySelectorAll('select');
    let instances_selects = M.FormSelect.init(elems_selects, {});

    let elems = document.querySelectorAll('.collapsible');
    let instances = M.Collapsible.init(elems, {});
  });

</script>
{% endblock %}