{% extends 'todoapp/base.html' %}

{% block content %}
<style type="text/css">
  .btn_add {
    transform:translateY(20px);
  }
  
</style>
<h3>New Todo Item</h3>
<form action="{% url 'todoapp:save_todo' %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col s5">
      <div class="input-field inline">
        <input type="text" id="todo_text" name="todo_text" required/>
        <label for="todo_text" class="black-text">Text</label>
      </div>
      
    </div>
    <div class="col s5">
      <div class="input-field inline">
        <select name="todo_type_ids" multiple>
          {% for type in todo_types %}
          <option value="{{type.id}}">{{type.emoji}} {{type.name}}</option>
          {% endfor %}
        </select>
        <label>Types</label>
      </div>
    </div>
    <div class="col s2">
      <button class="btn light-blue lighten-2 btn_add"><i class="material-icons">add</i></button>
    </div>
  </div>
</form>
<!-- JAVASCRIPT -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    let elems_selects = document.querySelectorAll('select');
    let instances_selects = M.FormSelect.init(elems_selects, {});
  });
</script>
{% endblock %}