{% extends 'todoapp/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

</style>
<div class="h3">Add New Todo Item</div>



<div class="row">
    <form class="col s12 input_form" action="{% url 'todoapp:save_todo' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s7">
                <input type="text" id="todo_text" name="todo_text" required />
                <label for="todo_text" class="black-text">Text</label>
            </div>
            <div class="input-field col s5">
                <select name="todo_type_ids" multiple>
                    {% for type in todo_types %}
                    <option value="{{type.id}}">{{type.emoji}} {{type.name}}</option>
                    {% endfor %}
                </select>
                <label>Types</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="todo_extra_text" name="todo_extra_text" class="materialize-textarea">
                <label for="todo_extra_text" class="black-text">Description</label>
            </div>
            <div class="col s2">
                <button class="btn-floating btn-large light-blue lighten-2"><i class="material-icons">add</i></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}